*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

a{
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

/* HEADER  ><><><><><><><><><><<><><><><><><><><><><><><><><><><>><><><*/

header{
  /* background-color: #9fd3c7; */
  background-color: #113f67;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-bottom: rgba(244, 166, 136, 0.33) solid 2px;
  
}

.brand-container{
width: 25%;
}

.name-logo-container{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-width: 450px;
  
}

.name-logo-container h1{
margin-left: 2%;
/* color: #385170; */
/* color: #a2a8d3; */
color: #e7eaf6;
/* font-family: 'Staatliches', cursive; */
}


.logo-div{
  width: 25%;
  overflow:hidden;
  transition: 700ms ease;
  max-width: 60px;
}

.logo-div img {
  width:100%;
}

nav{
display: flex;
justify-content: space-evenly;
align-items: center;
width: 45%;
transition: 700ms ease;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 5vh;
  align-items: center;
  transition: 700ms ease;
  width: 75%;
}

nav ul li{
  
  text-align: center;
}

nav ul li a{
  text-decoration: none;
  /* color: #385170; */
  /* color: #a2a8d3; */
  color: #e7eaf6;
  font-family: 'Oswald', sans-serif;
  
  font-size: x-large;
  transition: 700ms ease;
}

.cartlogo-container{
  width: 10%;
  max-width: 50px;
  min-width: 40px;
  transition: 700ms ease;
}

.cartlogo-container button{
  background: none;
  border: grey solid 1px;
  width: 100%;
}

.cartlogo-container img{
  width: 100%;
  transition: 700ms ease;
}

/* ITEM CONTAINER ><><><><><><><><><><><><><><><><><><<><>><><><><><><><><><>>< */

.itemlistbackground{
  background-image: url('../background.svg');
  background-size: cover;
  z-index: -1;
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0;
  min-height: 1000px;
}

.itemlistcontainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5vh;
  margin: 0vh auto;
  padding: 5vh 0;
  width: 70%; 
  
}

.item{
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
height: 100%;
/* background-color: #ececec; */
background-color: white;
border-radius: 25px;
border: 2px solid #a7bcb95e ;

}

.title{
  width: 100%;
  border-radius: 25px 25px 0 0;
  /* background-color: #DADADA; */
  margin-bottom: 2%;
}

.title h3{
  font-size: large;
  border-bottom: 2px #a7bcb98c solid;
  width: 100%;
  text-align: center;
  margin: 4% 0 0 0;
  padding-bottom: 4%;
  
}

.itemimg{
  width: 45%;
  margin: 2% 0;
}

.itemimg img{
  width: 100%;
}


.itemdescription{
  text-align: center;
  width: 100%;
  margin: 2% 0 ;
  padding: 0 3%;
  font-size: large;
}

.stock{
  width: 100%;
  border-radius:0 0 25px 25px ;
  /* background-color: #DADADA; */
  border-top: 2px #a7bcb98c solid;
  margin-top: 2%;
}

.stock h3{
  font-size: large;
  width: 100%;
  text-align: center;
  margin: 4% 0 0 0;
  padding-bottom: 4%;
}

.detailContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10%;
  min-height: 1000px;
  transition: 700ms ease;
  background-image: url('../background.svg');
  background-size: cover;
  z-index: -1;
  
}

.itemDetailContainer{
  width: 100%;
  padding:3% 0;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 600px;
  border-radius: 10px;
  box-shadow: -5px 10px 16px 0px rgb(0 0 0 / 20%), 5px 6px 20px 5px rgb(0 0 0 / 19%);
  background-color: white;
  max-width: 1200px;
  
  
}

.itemDetail{
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 5vh;
min-height: 600px;
padding: 0 3%;


}

.itemDetailimg{
  width: 75%;
  /* margin:auto; */
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;

}

.itemDetailimg img {
  width: 100%;
}

.itemDetail_info{
  margin: 3% 0 ;
  padding: 0 3%;
  
}

.itemDetail_info_titulo{
  margin-bottom: 8%;
  text-align: center;
}

.itemDetail_info_description{
  margin-bottom: 10vh;
}

.itemDetail_info_description p {
  font-size: large;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.itemDetail_info_precio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height:30%;
}

.itemDetail_info_precio .itemcount {
  width: 60%;
  flex-direction: column;
  margin: 0;
}

.itemDetail_info_precio .itemcount .contador{
  width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2%;
}

.itemDetail_info_precio p{
  font-size: large;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: 600;
}

footer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1vh;
  background-color: #113f67;
  height: 10vh;
  justify-content: center;
}
footer ul{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
}
footer ul li{
  list-style: none;
  margin: auto;
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
}

footer ul li a {
  color: #e7eaf6;
}

.footer-div-marca{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

footer h2 {
  /* height: 25%; */
  width: 100%;
  color: #e7eaf6;
  text-align: center;
  margin: 1% 0;
}

footer h4 {
  /* height: 25%; */
  width: 100%;
  color: #e7eaf6;
  text-align: center;
  margin: 1% 0;
  font-size: 20px;
}

footer h4 a {
  color: #e7eaf6;
  font-size: 20px;
  font-weight: 400;
}


/* RESPONSIVE */
@media all and (min-width: 1900px) {
  .logo-div{
    width: 15%;
    transition: 700ms ease;
    max-width: 90px;
  }
  header h1{
    font-size: 4vh;
    transition: 700ms ease;
    
  }
  nav ul li a{
    font-size: 2vh;
    transition: 700ms ease;
  }
  .itemlistcontainer{
    grid-template-columns: repeat(4,1fr);
  }

  .itemdescription{
    font-size: x-large;
  }
}

@media all and (min-width: 1500px) {
  .logo-div{
    width: 20%;
    transition: 700ms ease;
  }
}

@media all and (min-width :1200px){
  .footer-div-marca{
    display:grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media all and (min-width: 980px) {
  .logo-div{
    width: 25%;
    transition: 700ms ease;
  }
  
}
@media all and (max-width: 980px) {
  .logo-div{
    width: 35%;
    transition: 700ms ease;
  }
  .itemlistcontainer{
    grid-template-columns: repeat(2,1fr);
  }
  nav{
    width: 78%;
  }

  .itemDetail{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding: 5% 3%;
    
  }

  .itemcount{
    flex-direction: column;
  }
}

@media all and (max-width: 742px) {
  .logo-div{
    width: 35%;
  
    display: none;
    transition: 700ms ease;
  }
  nav {
    width: 65%;
    transition: 700ms ease;
  }
  .itemlistcontainer h2 {
    font-size: 2rem;
    transition: 1s ease;
  
  }
}
@media all and (max-width: 550px) {

  header h1 {
    width: 15%;
    font-size: large;
    transition: 700ms ease;
  }
  
  .itemlistcontainer{
    grid-template-columns: repeat(1,1fr);
  }
  .itemDetail_info_precio{
    flex-direction: column;
    gap: 3vh;
  }

  .itemDetail_info_precio .itemcount .contador{
    width: 75%;
    transition: 700ms ease;
  }
  

  footer ul{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
  }

  nav ul{
    justify-content: right;
  }

  nav ul li {
    margin-right: 2px;
  }

  nav ul li a{
    font-size: 15px;
    transition: 700ms ease;
  }
}


@media all and (max-width: 330px) {

  nav {
    width: 65%;
  }
}

