:root {
  --background-light: url('../assets/background.svg');
  --background-dark: url('../assets/backgroundBLack.svg');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;
}

body {
  /* padding: 50px; */
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

/* HEADER  ><><><><><><><><><><<><><><><><><><><><><><><><><><><>><><><*/

.header,
.header-dark {
  background-color: #113f67;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 25%; */
  height: 10vh;
  transition: 1s ease;
 text-shadow: 2px 3px rgba(138, 136, 136, 0.26);
}

.header-dark {
  background-color: #0f0f0ff1;
}

.active {
  text-decoration: underline 2px white;
  text-underline-offset: 5px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.356);
}

.brand-container {
  width: 25%;
}

.name-logo-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-width: 450px;
}

.name-logo-container h1 {
  margin-left: 2%;
  /* color: #385170; */
  /* color: #a2a8d3; */
  color: #e7eaf6;
  /* font-family: 'Staatliches', cursive; */
}

.logo-div {
  width: 25%;
  overflow: hidden;
  transition: 700ms ease;
  max-width: 60px;
}

.logo-div img {
  width: 100%;
  padding: 10%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  transition: 700ms ease;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 5vh;
  align-items: center;
  transition: 700ms ease;
  width: 75%;
}

nav ul li {
  text-align: center;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  /* color: #385170; */
  /* color: #a2a8d3; */
  color: #e7eaf6;
  font-family: 'Oswald', sans-serif;

  font-size: x-large;
  transition: 700ms ease;
}

.cartlogo-container {
  width: 10%;
  max-width: 50px;
  min-width: 40px;
  transition: 700ms ease;
  position: relative;
}

.cartlogo-container h4 {
  position: absolute;
  top: 30%;
  right: 110%;
  color: white;
}

.cartlogo-container button {
  background: none;
  border: grey solid 1px;
  width: 100%;
}

.cartlogo-container img {
  width: 100%;
  transition: 700ms ease;
}

.cartContainerBackground,
.cartContainerBackground-black {
  background-image: var(--background-light);
  background-size: cover;
  z-index: -1;
  height: 100vh;
  width: 100%;
  padding: 0%;
  margin: 0;
  min-height: 1000px;
  transition: 1s ease;
}

.cartContainerBackground-black {
  background-image: var(--background-dark);
}

.cartContainer {
  /* background-color: grey; */
  min-height: 50vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 2rem;
}

.itemCart {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 20%);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  transition: 500ms linear;
  background-color: white;
}

.itemCart:hover {
  box-shadow: 0px 10px 16px 0px rgb(0 0 0 / 20%), 0px 6px 20px 5px rgb(0 0 0 / 19%);
  background-color: white;
  transition: 500ms linear;
}

.itemCart .img {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms ease;
}

.itemCart .img img {
  width: 60%;
}

.itemCartInfo {
  width: 50%;
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
}

.cartAmmountInput {
  height: 2rem;
  width: 10%;
  border-radius: 7px;
  border: grey 1px solid;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
}

.cartInfo {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 5rem;
  gap: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.267);
  box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 20%);
  background-color: white;
  border-radius: 7px;
  transition: 500ms linear;
}
.cartPrice {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #36395a;
  border-bottom: solid 1px black;
}

.buttonClear {
  display: flex;
  justify-content: right;
  margin-right: 2rem;
}

.buttonBorrarItem {
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 72px;
}

.buttonBorrarItem button {
  width: 100%;
  font-size: 12px;
  border-radius: 5px;
  height: 2rem;
  min-width: 72px;
}

.cartformcontainer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5% 5%; */
  border: 1px solid rgba(0, 0, 0, 0.267);
  box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 20%);
  background-color: white;
  border-radius: 7px;
  transition: 500ms linear;
  padding: 2% 0;
  flex-direction: column;
}

.form-errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.cartform-form {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cartform-form input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 2rem;
}

.cart-muestra-id-container,
.cart-muestra-id-container-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  background: var(--background-light);
  background-size: cover;
  z-index: -1;
}

.cart-muestra-id-container-dark {
  background: var(--background-dark);
}

.cart-muestra-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2%;
}

.cart-muestra-gracias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.267);
  box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 20%);
  background-color: white;
  border-radius: 7px;
  transition: 500ms linear;
  gap: 2rem;
  width: 60%;
  margin-bottom: 2%;
  padding: 2% 0;
}

.cart-muestra-id {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.267);
  box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 20%);
  background-color: white;
  border-radius: 7px;
  transition: 500ms linear;
  height: 5vh;
  width: 40%;
}

.orderDetail,
.orderDetail-dark {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2% 0;
  gap: 2rem;
  background-image: var(--background-light);
  background-size: cover;
  z-index: 1;
}

.orderDetail-dark {
  background-image: var(--background-dark);
}

.orderDetail-dark h2 {
  color: white;
}

.orderDetail .itemCart,
.orderDetail-dark .itemCart {
  height: 10vh;
  width: 50%;
  font-size: large;
}

.orderDetailCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 20%);
  border-radius: 10px;
  /* border: 1px solid #a7bcb95e; */
  border: 1px solid rgba(0, 0, 0, 0.267);
  transition: 500ms linear;
  background-color: white;
  width: 50%;
  height: 10vh;
  font-size: large;
}
/* ITEM CONTAINER ><><><><><><><><><><><><><><><><><><<><>><><><><><><><><><>>< */

.itemlistbackground-light,
.itemlistbackground-dark {
  background-image: var(--background-light);
  background-size: cover;
  z-index: -1;
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0;
  transition: 1s ease;
  min-height: 1000px;
}

.itemlistbackground-dark {
  background-color: white;
  background-image: var(--background-dark);
}

.itemlistcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5vh;
  margin: 0vh auto;
  padding: 5vh 0;
  width: 80%;
}

.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #a7bcb95e;
  transition: 500ms linear;
  box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 20%);
}

.item:hover {
  box-shadow: 0px 10px 16px 0px rgb(0 0 0 / 20%), 0px 6px 20px 5px rgb(0 0 0 / 19%);
  background-color: white;
  transition: 500ms linear;
}

.title {
  width: 100%;
  border-radius: 25px 25px 0 0;
  /* background-color: #DADADA; */
  margin-bottom: 2%;
}

.title h3 {
  font-size: large;
  border-bottom: 2px #a7bcb98c solid;
  width: 100%;
  text-align: center;
  margin: 4% 0 0 0;
  padding-bottom: 4%;
}

.itemimg {
  width: 45%;
  margin: 2% 0;
}

.itemimg img {
  width: 100%;
}

.itemdescription {
  text-align: center;
  width: 100%;
  margin: 2% 0;
  padding: 0 3%;
  font-size: large;
}

.stock {
  width: 100%;
  border-radius: 0 0 25px 25px;
  border-top: 2px #a7bcb98c solid;
  margin-top: 2%;
}

.stock h3 {
  font-size: large;
  width: 100%;
  text-align: center;
  margin: 4% 0 0 0;
  padding-bottom: 4%;
}

.detailContainer,
.detailContainer-black {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10%;
  min-height: 100vh;
  transition: 700ms ease;
  background-image: var(--background-light);
  background-size: cover;
  z-index: -1;
}

.detailContainer-black {
  background-image: var(--background-dark);
}

.itemDetailContainer {
  width: 100%;
  padding: 3% 0;
  height: 100%;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: -5px 10px 16px 0px rgb(0 0 0 / 20%), 5px 6px 20px 5px rgb(0 0 0 / 19%);
  background-color: white;
  max-width: 1200px;
}

.itemDetail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5vh;
  min-height: 600px;
  padding: 0 3%;
}

.itemDetailimg {
  width: 75%;
  /* margin:auto; */
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

.itemDetailimg img {
  width: 100%;
}

.itemDetail_info {
  margin: 3% 0;
  padding: 0 3%;
}

.itemDetail_info_titulo {
  margin-bottom: 8%;
  text-align: center;
}

.itemDetail_info_description {
  margin-bottom: 10vh;
}

.itemDetail_info_description p {
  font-size: large;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.itemDetail_info_precio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
}

.itemDetail_info_precio .itemcount {
  width: 60%;
  flex-direction: column;
  margin: 0;
}

.itemDetail_info_precio .itemcount .contador {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2%;
}

.itemDetail_info_precio p {
  font-size: large;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: 600;
}

.nosotros,
.nosotros-black {
  min-height: 100vh;
  background-image: var(--background-light);
  background-size: cover;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.nosotros-black {
  background-image: var(--background-dark);
}

.canvas {
  min-height: 101%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Helvetica;
}

.canvas .text {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  position: absolute;
  top: 5%;
  left: 5%;
  user-select: none;
  gap: 3rem;
}

.creditos {
  color: white;
  font-size: medium;
  height: 20px;
  width: 250px;
  position: absolute;
  bottom: 2%;
  right: 1%;
}

.text {
  color: white;
  letter-spacing: 1px;
  font-size: 35px;
  padding-left: 20px;
}

.text > h2,
.text > p {
  text-shadow: 2px 2px #f5f3f34b;
}

.text p {
  font-size: 25px;
  text-align: left;
  width: 65vh;
}

.canvas iframe {
  height: 101vh;
  width: 100%;
}

.card {
  min-height: 60vh;
  border-radius: 10px;
  box-shadow: -5px 10px 16px 0px rgb(0 0 0 / 20%), 5px 6px 20px 5px rgb(0 0 0 / 19%);
  background-color: rgb(255, 255, 255);
  max-width: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-imagescontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

.card-imagescontainer .img {
  width: 50%;
  margin-top: 20px;
}

.card-imagescontainer .img img {
  width: 100%;
}

.card-text {
  padding-block: 5rem;
  width: 75%;
}

.card-text h2 {
  font-weight: 600;
  color: #07080ad7;
  padding: 1% 0;
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vh;
  height: 10vh;
  justify-content: center;
}

.footer-theme {
  background-color: #113f67;
  transition: 1s ease;
}

.footer-theme-dark {
  background-color: #0f0f0ff1;
  transition: 1s ease;
}
footer ul {
  display: flex;
  flex-direction: row;
}
footer ul li {
  list-style: none;
  margin: auto;
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
}

footer ul li a {
  color: #e7eaf6;
}

.footer-div-marca {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h2 {
  width: 100%;
  color: #e7eaf6;
  text-align: center;
  margin: 1% 0;
}

footer h4 {
  width: 100%;
  color: #e7eaf6;
  text-align: center;
  margin: 1% 0;
  font-size: 20px;
}

footer h4 a {
  color: #e7eaf6;
  font-size: 20px;
  font-weight: 400;
}

.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 0;
}

.notFoundContainer h2 {
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 1% 0;
}

.notFoundContainer a {
  font-size: 20px;
  font-weight: 400;
}

.notFoundContainer a:hover {
  text-decoration: underline 2px black;
}

.notFoundContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVE */

@media all and (min-width: 1900px) {
  .logo-div {
    width: 15%;
    transition: 700ms ease;
    max-width: 90px;
  }
  .header h1 {
    font-size: 4vh;
    transition: 700ms ease;
  }

  .header-dark h1 {
    font-size: 4vh;
    transition: 700ms ease;
  }
  nav ul li a {
    font-size: 2vh;
    transition: 700ms ease;
  }
  .itemlistcontainer {
    grid-template-columns: repeat(4, 1fr);
    transition: 700ms ease;
  }

  .itemdescription {
    font-size: x-large;
  }
}

@media all and (min-width: 1500px) {
  .logo-div {
    width: 20%;
    transition: 700ms ease;
  }
}

@media all and (min-width: 1200px) {
  .footer-div-marca {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: 700ms ease;
  }
}

@media all and (min-width: 980px) {
  .logo-div {
    width: 25%;
    transition: 700ms ease;
  }
}

@media all and (max-width: 1500px) {
  .itemlistcontainer {
    grid-template-columns: repeat(3, 1fr);
    transition: 700ms ease;
  }
}

@media all and (min-height: 1080px) {
  .itemlistbackground-light {
    max-height: 100%;
  }

  .itemlistbackground-dark {
    max-height: 100%;
  }

  .cartContainerBackground {
    max-height: 100%;
  }

  .cartContainerBackground-black {
    max-height: 100%;
  }
}

@media all and (max-height: 900px) {
  .logo-div {
    padding: 5px;
    width: 15%;
    transition: 700ms ease;
  }
}

@media all and (max-height: 600px) {
  .logo-div {
    width: 12%;
    transition: 700ms ease;
  }
}

@media all and (max-width: 980px) {
  .logo-div {
    width: 35%;
    transition: 700ms ease;
  }

  .itemlistcontainer {
    grid-template-columns: repeat(2, 1fr);
    transition: 700ms ease;
  }
  nav {
    width: 78%;
  }

  .itemDetail {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding: 5% 3%;
  }

  .itemcount {
    flex-direction: column;
  }

  .notFoundContainer div img {
    width: 75%;
  }

  .notFoundContainer h2 {
    font-size: 24px;
  }

  .notFoundContainer a {
    font-size: 16px;
    font-weight: 400;
  }
}

@media all and (max-width: 742px) {
  .logo-div {
    width: 35%;

    display: none;
    transition: 700ms ease;
  }
  nav {
    width: 65%;
    transition: 700ms ease;
  }

  nav ul {
    margin-right: 20px;
  }
  .itemlistcontainer h2 {
    font-size: 2rem;
    transition: 1s ease;
  }

  .itemCart .img {
    width: 20%;
    transition: 500ms ease;
  }

  .cartformcontainer {
    height: 25vh;
    flex-direction: row;
  }

  .cartform-form {
    flex-direction: column;
    width: 40%;
  }
  .cartInfo {
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }
}

@media all and (max-width: 550px) {
  .header h1 {
    width: 15%;
    font-size: large;
    transition: 700ms ease;
  }

  nav ul {
    justify-content: right;
    margin-right: 20px;
  }

  nav ul li {
    margin-right: 2px;
  }

  nav ul li a {
    font-size: 15px;
    transition: 700ms ease;
  }

  .itemlistcontainer {
    grid-template-columns: repeat(1, 1fr);
    transition: 700ms ease;
  }
  .itemDetail_info_precio {
    flex-direction: column;
    gap: 3vh;
  }

  .itemDetail_info_precio .itemcount .contador {
    width: 75%;
    transition: 700ms ease;
  }

  footer ul {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
  }

  .itemCartInfo {
    flex-direction: column;
    gap: 0.3rem;
    padding: 5%;
    transition: 500ms ease;
  }
  .cartAmmountInput {
    width: 25%;
    transition: 500ms ease;
  }

  .itemCart .img {
    width: 20%;
    transition: 500ms ease;
  }

  .itemCart .img img {
    transition: 500ms ease;
    width: 60%;
  }
}

@media all and (max-width: 330px) {
  nav {
    width: 65%;
  }

  .itemCart .img {
    display: none;
  }
}
