*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

a{
  text-decoration: none;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* HEADER  ><><><><><><><><><><<><><><><><><><><><><><><><><><><>><><><*/

header{
  /* background-color: #9fd3c7; */
  background-color: #113f67;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-bottom: rgba(244, 166, 136, 0.33) solid 2px;
  
}

.brand-container{
width: 25%;
}

.name-logo-container{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-width: 450px;
  
}

.name-logo-container h1{
margin-left: 2%;
/* color: #385170; */
/* color: #a2a8d3; */
color: #e7eaf6;
}


.logo-div{
  width: 25%;
  overflow:hidden;
  transition: 700ms ease;
  max-width: 60px;
}

.logo-div img {
  width:100%;
}

nav{
display: flex;
justify-content: space-evenly;
align-items: center;
width: 45%;
transition: 700ms ease;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 5vh;
  align-items: center;
  transition: 700ms ease;
  width: 75%;
}

nav ul li{
  
  text-align: center;
}

nav ul li a{
  text-decoration: none;
  /* color: #385170; */
  /* color: #a2a8d3; */
  color: #e7eaf6;
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
  transition: 700ms ease;
}

.cartlogo-container{
  width: 10%;
  max-width: 50px;
  min-width: 40px;
  transition: 700ms ease;
}

.cartlogo-container img{
  width: 100%;
  transition: 700ms ease;
}

/* ITEM CONTAINER ><><><><><><><><><><><><><><><><><><<><>><><><><><><><><><>>< */

.itemlistcontainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;

}
.itemlistcontainer h2 {
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
  color: #113f67;
  transition: 1s ease;
  text-align: center;
}




/* RESPONSIVE */
@media all and (min-width: 1900px) {
  .logo-div{
    width: 15%;
    transition: 700ms ease;
    max-width: 95px;
  }
  header h1{
    font-size: 4vh;
    transition: 700ms ease;
    
  }
  nav ul li a{
    font-size: 2vh;
    transition: 700ms ease;
  }
}

@media all and (min-width: 1500px) {
  .logo-div{
    width: 20%;
    transition: 700ms ease;
  }
}

@media all and (min-width: 980px) {
  .logo-div{
    width: 25%;
    transition: 700ms ease;
  }
}
@media all and (max-width: 980px) {
  .logo-div{
    width: 35%;
    transition: 700ms ease;
  }
}

@media all and (max-width: 742px) {
  .logo-div{
    width: 35%;
  
    display: none;
    transition: 700ms ease;
  }
  nav {
    width: 65%;
    transition: 700ms ease;
  }
  .itemlistcontainer h2 {
    font-size: 2rem;
    transition: 1s ease;
  
  }
}
@media all and (max-width: 550px) {

  header h1 {
    width: 15%;
    font-size: large;
    transition: 700ms ease;
  }

  nav{
    width: 78%;
  }

  nav ul{
    justify-content: right;
  }

  nav ul li {
    margin-right: 2px;
  }

  nav ul li a{
    font-size: 15px;
    transition: 700ms ease;
  }
}

@media all and (max-width: 330px) {

  nav {
    width: 65%;
  }
}

